.full-width  {
    width: 100%;
 }
 
 .suggestionNotFoundContainer {
     
    height: 60vh;
    width: 100vw;
    justify-content: center;
    display: flex;
    vertical-align: middle;
    align-items: center;
 }